.title {
    color: #1f1f1f;
}

.main_layout {

}

.image_pokedex {
    width: 200px;
    height: 80px;
    margin: auto;
    margin-bottom: 2rem;
}

.button_panel {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.spin_content {
    display: flex;
    justify-content: center;
    margin: 50px;
}